<div id="download_webs">
  <% if params[:q].present? %>
    <%= link_to generate_csv_webs_path(params), remote: true, class: 'btn btn-primary btn-md' do %>
      <i class="fa fa-download" aria-hidden="true"></i> Generate CSV
    <% end %>
  <% end %>
</div>
