<!-- Exports -->
<!-- <div class="panel"> -->
<!-- <div class="row"> -->
<!-- <div class=""> -->

<!-- <div class="col-md-4"> -->
<h6 class="text-center">Exports</h6>
<table class="table">
  <thead>
    <tr>
      <th class="text-center">File Name</th>
      <th class="text-center">Size</th>
      <th class="text-center">Created</th>
    </tr>
  </thead>
  <tbody>
    <% exports = @user.exports.order("export_date DESC") %>
    <% exports.each do |export| %>

    <tr>
      <td>
        <%= link_to download_csv_exports_path(id: export.id), class: 'btn btn-default btn-md-lg' do %>
          <%= icon('fas', 'download', export.file_name) %>
        <% end %>
      </td>

      <td><%= number_to_human_size(export.csv_file_size, precision: 3) %></td>
      <td><%= time_ago_in_words(export.export_date).capitalize %> ago</td>
    </tr>
    <% end %>
  </tbody>
</table>
<!-- </div> -->

<!-- </div> -->
<!-- </div> -->

<!-- </div> -->
