<div class="col-md-12 text-center">
  <h5 class="section-header">Saved Searches</h5>
</div>


<table class="table">
  <thead>
    <tr>
      <th class="text-center">Category</th>
      <th class="text-center">Size</th>
      <th class='text-center'>Search Name</th>
      <th class="text-center">Created</th>
      <th colspan="2" class="text-center">Follow</th>
      <th colspan="2" class="text-center">Hide</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'users/act_queries', user: @user %>
    <%= render 'users/cont_queries', user: @user %>
    <%= render 'users/web_queries', user: @user %>
  </tbody>
</table>
