<!-- Following & Hidden -->
<!-- <div class="panel"> -->

<!-- <div class="row"> -->
<!-- Saved Searches -->
<!-- <div class="col-md-8"> -->
<!-- Saved Account Searches -->
<h6 class="text-center">Saved Searches</h6>
<table class="table">
  <thead>
    <tr>
      <th class="text-center">Category</th>
      <th class="text-center">Size</th>
      <th class='text-center'>Search Name</th>
      <th class="text-center">Created</th>
      <th colspan="2" class="text-center">Follow</th>
      <th colspan="2" class="text-center">Hide</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'users/act_queries', user: @user %>
    <%= render 'users/cont_queries', user: @user %>
    <%= render 'users/web_queries', user: @user %>
  </tbody>
</table>

<!-- </div> -->
<!-- </div> -->

<!-- </div> -->
