<p id="notice"><%= notice %></p>

<!-- ## ENSURES ACTIVITIES CREATED FOR USER -->
<%# create_all_activities(current_user.id) %>

<!-- User Profile -->
<%= render 'users/profile', user: @user %>
<br>

<!-- Following & Hidden -->
<%= render 'users/fav_hide_queries', user: @user %>
<br>

<!-- Exports -->
<%= render 'users/exports', user: @user %>
<br>


<br>
