<div class="row toggle-sidebar pull-right">
  <button type="button" id="sidebarCollapse" class="btn navbar-btn">
    <h3><%= icon('fas', 'tachometer-alt', class: 'fa-pull-right') %></h3>
  </button>
</div>
