<!-- Sidebar Holder -->
<nav id="sidebar">
  <!-- <div class="sidebar-header"> -->
    <h5 class="text-center sidebar-header">Search CRM Data</h5>
  <!-- </div> -->

  <div class="search-items">
    <div class="row collapse list-unstyled" id="web_searchSubmenu">
      <%= render 'webs/webs_search_partial', search: @search %>
    </div>

  </div>

  <ul class="list-unstyled components">

    <li class="nav-item"><%= link_to 'Webs', webs_path, class: "nav-link"  %></li>

    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
      </ul>
    </li>

    <li>
      <a href="#web_searchSubmenu" data-toggle="collapse" aria-expanded="false">
        <%= icon('fas', 'search', 'Search Webs') %>
      </a>

      <div class="row collapse list-unstyled" id="web_searchSubmenu">
        <%= render 'webs/webs_search_partial', search: @search %>
      </div>
    </li>

  </ul>





</nav>
