<div class="row toggle-sidebar pull-left">
  <button type="button" id="webs-sidebar-collapse" class="btn navbar-btn">
    <h5><%= icon('fas', 'search', class: 'fa-pull-left') %></h5>
  </button>
</div>
