<div id="download_conts">
  <% if params[:q].present? %>
    <% msg = 'Do you wish to Generate a CSV of these records?' %>
    <%= link_to generate_csv_conts_path(params), remote: false, data: { confirm: msg }, class: 'btn btn-primary btn-md' do %>
      <i class="fa fa-download" aria-hidden="true"></i> Generate CSV
    <% end %>
  <% end %>
</div>
