<% @tally_hsh = tally_hsh %>
<div class="downloadTallies" data-id="<% @tally_hsh[:tally_id] %>">

  <td class="text-center">
    <%= link_to generate_csv_tallies_path(tally_hsh: tally_hsh), remote: true, class: 'btn btn-primary btn-md' do %>
      <i class="fa fa-download"></i> Download CSV
    <% end %>
  </td>

</div>
