<td>
  <% @tally_hsh = tally_hsh %>
  <div class="followAll" data-id="<% @tally_hsh[:tally_id] %>">

    <%= link_to 'Follow', follow_all_tallies_path(tally_hsh: tally_hsh), remote: true, class: 'btn btn-primary btn-sm' %>

  </div>
</td>
