<td>
  <% @tally_hsh = tally_hsh %>
  <div class="hideAll" data-id="<% @tally_hsh[:tally_id] %>">

    <%= link_to 'Hide', hide_all_tallies_path(tally_hsh: tally_hsh), remote: true, class: 'btn btn-danger btn-sm' %>

  </div>
</td>
