<% @tally_hsh = tally_hsh %>
<div class="download_tallies" data-id="<% @tally_hsh[:tally_id] %>">

  <td>
    <div>
      <%= link_to generate_csv_tallies_path(tally_hsh: tally_hsh), remote: true, class: 'btn btn-primary btn-md' do %>
      <i class="fa fa-download"></i> Download CSV
      <% end %>
    </div>
  </td>

</div>
