/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'sidebar.scss';

// @import 'form-elements.css';
// @import 'normalize.css';
// @import 'style.css';


// @import 'sample_style.css'; // (from app/lib/assets/stylesheets)


// th a.current {
//   padding-right: 20px;
//   background-repeat: no-repeat;
//   background-position: right center;
// }
// th a.current.asc {
//   background-image: url(/assets/up_arrow.gif);
// }
// th a.current.desc {
//   background-image: url(/assets/down_arrow.gif);
// }

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #252830;
    color: #999;
    font-size: 0.8rem;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}




// SPECIAL VIEW CSS - STARTS
.outer-panel {
  background-color: #2c303a;
  border: 1px solid #434857;
  border-radius: 5px;
  margin: 5px;
  padding: 0px;
}

.outer-list-row {
  // background-color: #434856;
  // border: 1px solid #4e5465;
  background-color: yellow;
  // border: 1px solid #4e5465;
  // border-radius: 5px;
  margin: 0px;
  padding: 0px;
}

.outer-list-col {
  // background-color: #434856;
  // border: 1px solid #4e5465;
  background-color: blue;
  border: 1px solid #4e5465;
  border-radius: 5px;
  margin: 1px;
  padding: 5px;
  width: 90%;
}

.association-row {
  // background-color: #434856;
  // border: 1px solid #4e5465;
  background-color: red;
  border: 1px solid #4e5465;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
  width: 90%;
}

// SPECIAL VIEW CSS - ENDS




table.table {
  // border-collapse: separate;
  // border-spacing: 0 5px;
  padding: 5px;
  margin: 5px;
  border: none;
}

thead th {
  background-color: #2c303a;
  color: #999;
}

tbody td {
  background-color: #2c303a;
  // border: 0;
}

table.table {
  td, th {
    border:none;
    border-bottom: 1px solid #434857;
  }
}

// tr td:first-child,
// tr th:first-child {
//   border-top-left-radius: 6px;
//   border-bottom-left-radius: 6px;
// }
//
// tr td:last-child,
// tr th:last-child {
//   border-top-right-radius: 6px;
//   border-bottom-right-radius: 6px;
// }
