<div class="row toggle-btn-group" role="group" aria-label="Basic example">

  <div class="toggle_fav col-md-3 toggle-div" data-id="<%= @activity.id %>">
    <%= render 'activities/toggle_fav', activity: @activity %>
  </div>

  <div class="toggle_hide col-md-3" data-id="<%= @activity.id %>">
    <%= render 'activities/toggle_hide', activity: @activity %>
  </div>

  <div class="col-md-6">
    <!-- IMPORTANT TO KEEP THIS FOR LAYOUT -->
  </div>

</div>
