<% if @activity.hide_sts == 'hide' %>
  <% hide_btn = 'active-sts' %>
  <% hide_sts = 'none' %>
<% else %>
  <% hide_sts = 'hide' %>
<% end %>



<%= link_to activity_path(id: @activity.id, hide_sts: hide_sts), class: "btn btn-sm #{hide_btn} btn-danger", remote: true do %>
  <%= icon('fas', 'ban', class: 'fa-btn-xs')%> <span class="fa-span">Hide</span>
<% end %>
