<% if @activity.fav_sts == 'follow' %>
  <% fav_btn = 'active-sts' %>
  <% fav_sts = 'none' %>
<% else %>
  <% fav_sts = 'follow' %>
<% end %>


<%= link_to activity_path(id: @activity.id, fav_sts: fav_sts), class: "btn btn-sm #{fav_btn} btn-primary", remote: true do %>
  <%= icon('fas', 'plus-circle', class: 'fa-btn-xs')%> <span class="fa-span">Follow</span>
<% end %>
