<div class="row toggle-btn-group" role="group" aria-label="Basic example">
  <% fav_sts = 'follow' %>
  <% hide_sts = 'hide' %>

  <% if activity.fav_sts == 'follow' %>
    <% fav_btn = 'active-sts' %>
    <% fav_sts = 'none' %>
  <% end %>

  <% if activity.hide_sts == 'hide' %>
    <% hide_btn = 'active-sts' %>
    <% hide_sts = 'none' %>
  <% end %>


  <div class="col-md-3 toggle-div">
    <%= link_to toggle_sts_activities_path(id: activity.id, hide_sts: hide_sts), class: "btn btn-sm #{hide_btn} btn-danger", remote: true do %>
      <%= icon('fas', 'ban', class: 'fa-btn-xs')%> <span class="fa-span">Hide</span>
    <% end %>
  </div>

  <div class="col-md-3">
    <%= link_to toggle_sts_activities_path(id: activity.id, fav_sts: fav_sts), class: "btn btn-sm #{fav_btn} btn-primary", remote: true do %>
      <%= icon('fas', 'plus-circle', class: 'fa-btn-xs')%> <span class="fa-span">Follow</span>
    <% end %>
  </div>

  <div class="col-md-6">

  </div>

</div>
