<div class="col-md-4">
  <%= link_to toggle_sts_activities_path(id: activity.id, fav_sts: 'hide'), class: "btn btn-danger btn-xs", remote: true do %>
    <%= icon('fas', 'eye-slash')%> Hide
  <% end %>
</div>
